.displayBox {
  width: 100% !important;
  height: 90px !important;
  border: 1px solid #c52755 !important;
  background-color: #544C4A !important;
  padding: 5px !important;
}

.resultBox {
  width: 100% !important;
  text-align: right !important;
  height: 30px !important;
  border: 0px solid #c52755 !important;
  background-color: #544C4A !important;
  color: white !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  padding-right: 10px !important;
}

.inputBox {
  width: 100% !important;
  text-align: right !important;
  height: 50px !important;
  border: 0px solid #c52755 !important;
  background-color: #544C4A !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  padding-right: 10px !important;
}
