.blockProp{
  padding:0px;
  border:1px solid #c52755 ;
}

.buttonProp{

  border-radius: 0px;
  height: 60px;
  background-color:red;
  color:#383737;
  font-size:30px;
  font-weight: 600;
  text-align: center;
  border:0px;
  padding-left:0px;
  width:100%
}

.colorButtonProp{
  border-radius:0px;
  height: 60px;
  background-color: #DE3163;
  color:white;
  font-size:35px;
  font-weight:600;
  text-align:center;
  border:0px;
  padding: 0px;
  width:100%
}

.test{
  border-radius:0px;
  height: 60px;
  background-color: #DE3163;
  color:white;
  font-size:35px;
  font-weight:600;
  text-align:center;
  border:0px;
  padding: 0px;
  width:100%
}
