.blockProp {
  padding: 0px !important;
  border: 1px solid #c52755 !important;
}

.buttonProp {
  border-radius: 0px !important;
  height: 60px !important;
  background-color: white !important;
  color: #383737 !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  text-align: center !important;
  border: 0px !important;
  padding-left: 0px !important;
  width: 100% !important;
}

.colorButtonProp {
  border-radius: 0px !important;
  height: 60px !important;
  background-color: #DE3163 !important;
  color: white !important;
  font-size: 35px !important;
  font-weight: 600 !important;
  text-align: center !important;
  border: 0px !important;
  padding: 0px !important;
  width: 100% !important;
}
